@import "../core/index";

span[role=badge] {
  text-align: center;
  overflow: auto;
  border: 1px solid;
  display: inline-block;
  padding: 2px 10px;
  text-transform: uppercase;
  line-height: 1.25em;
  border-radius: 10rem;
  font-weight: 700;
  font-size: .8em;
  letter-spacing: .15em;

  &.success {
    background-color: $iugu-green;
    border-color: $iugu-green;
    color: #FFF;
    &.dark {
      background-color: $iugu-forest-green;
      border-color: $iugu-forest-green;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-forest-green;
        color: $iugu-forest-green;
      }
    }
    &.light {
      background-color: $iugu-vivid-green;
      border-color: $iugu-vivid-green;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-vivid-green;
        color: $iugu-vivid-green;
      }
    }
    &.outline {
      background-color: #FFF;
      border-color: $iugu-green;
      color: $iugu-green;
    }
  }

  &.danger {
    background-color: $iugu-flame;
    border-color: $iugu-flame;
    color: #FFF;
    &.dark {
      background-color: $iugu-red;
      border-color: $iugu-red;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-red;
        color: $iugu-red;
      }
    }
    &.light {
      background-color: $iugu-coral;
      border-color: $iugu-coral;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-coral;
        color: $iugu-coral;
      }
    }
    &.outline {
      background-color: #FFF;
      border-color: $iugu-flame;
      color: $iugu-flame;
    }
  }

  &.warning {
    background-color: $iugu-orange;
    border-color: $iugu-orange;
    color: #FFF;
    &.dark {
      background-color: $iugu-brown;
      border-color: $iugu-brown;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-brown;
        color: $iugu-brown;
      }
    }
    &.light {
      background-color: $iugu-yellow;
      border-color: $iugu-yellow;
      color: $iugu-yellow-darker;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-yellow;
        color: $iugu-yellow-darker;
      }
    }
    &.outline {
      background-color: #FFF;
      border-color: $iugu-orange;
      color: $iugu-orange;
    }
  }

  &.default {
    background-color: $iugu-base;
    border-color: $iugu-base;
    color: #FFF;
    &.dark {
      background-color: $iugu-base-dark;
      border-color: $iugu-base-dark;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-base-dark;
        color: $iugu-base-dark;
      }
    }
    &.light {
      background-color: $iugu-base-light;
      border-color: $iugu-base-light;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-base-light;
        color: $iugu-base-light;
      }
    }
    &.outline {
      background-color: #FFF;
      border-color: $iugu-base;
      color: $iugu-base;
    }
  }

  &.generic {
    background-color: $iugu-neutral-gray-3;
    border-color: $iugu-neutral-gray-3;
    color: #FFF;
    &.dark {
      background-color: $iugu-neutral-dark-3;
      border-color: $iugu-neutral-dark-3;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-neutral-dark-3;
        color: $iugu-neutral-dark-3;
      }
    }
    &.light {
      background-color: $iugu-neutral-light-3;
      border-color: $iugu-neutral-light-3;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-neutral-light-3;
        color: $iugu-neutral-light-3;
      }
    }
    &.outline {
      background-color: #FFF;
      border-color: $iugu-neutral-gray-3;
      color: $iugu-neutral-gray-3;
    }
  }

  &.information {
    background-color: $iugu-steel-blue;
    border-color: $iugu-steel-blue;
    color: #FFF;
    &.dark {
      background-color: $iugu-royal-blue;
      border-color: $iugu-royal-blue;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color:$iugu-royal-blue;
        color: $iugu-royal-blue;
      }
    }
    &.light {
      background-color: $iugu-turquoise;
      border-color: $iugu-turquoise;
      color: #FFF;
      &.outline {
        background-color: #FFF;
        border-color: $iugu-turquoise;
        color: $iugu-turquoise;
      }
    }
    &.outline {
      background-color: #FFF;
      border-color: $iugu-steel-blue;
      color: $iugu-steel-blue;
    }
  }
}