.flex-no-wrap { flex-wrap: nowrap }
.flex-wrap { flex-wrap: wrap }
.flex-wrap-reverse { flex-wrap: wrap-reverse }

.justify-flex-start { justify-content: flex-start }
.justify-flex-end { justify-content: flex-end }
.justify-flex-center { justify-content: center }
.justify-flex-space-between { justify-content: space-between }
.justify-flex-space-around { justify-content: space-around }
.justify-flex-space-evenly { justify-content: space-evenly }

.align-itens-flex-start { align-items: flex-start }
.align-itens-flex-end { align-items: flex-end }
.align-itens-flex-center { align-items: center }
.align-itens-flex-stretch { align-items: stretch }
.align-itens-flex-baseline { align-items: baseline }

.align-self-flex-start { align-self: flex-start }
.align-self-flex-end { align-self: flex-end }
.align-self-flex-center { align-self: center }
.align-self-flex-stretch { align-self: stretch }
.align-self-flex-baseline { align-self: baseline }

.align-content-flex-start { align-content: flex-start }
.align-content-flex-end { align-content: flex-end }
.align-content-flex-center { align-content: center }
.align-content-flex-stretch { align-content: stretch }
.align-content-flex-space-between  { align-content: space-around }
.align-content-flex-space-around { align-content: space-around }
.align-content-flex-space-evenly { align-content: space-evenly }

.flex-column {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

.structure-demo {
  background: #F3F3F3;
  padding: 5px 5px 15px 5px;
  min-height: 300px;
}

.structure-demo-item {
  background: #00AACE;
  border: 2px dashed #007790;
  width: 100%;
  height: 100%;
  min-width: 150px;
  max-width: 150px;
  font-size: 36px;
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.block {
  width: auto;
  height: auto;
}

.scroller-horizontal,
.scroller-vertical {
  width: auto;
  height: auto;
}


