@import "../core/index";

div[role=panel-footer]{
  padding: $spacing-5;
  position: relative;
  border-top: 1px solid $iugu-neutral-gray-5;
  margin-bottom: $spacing-4;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}