@import "../core/index";

.split-view {
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
}

.split-view-vertical {
  flex-direction:column;
}

.split-view-horizontal {
  flex-direction:row;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-direction: column;
  -webkit-flex-direction: 0;
}

.flex {
  display: flex;
}
