@import "../variables";

.input {
  position: relative;
  font-size: 1em;
  line-height: 1.28em;
  margin-bottom: $spacing-5;

  label {
    text-transform: uppercase;
    display: block;
    font-family: "museo-sans", Arial, Verdana;
    font-weight: 500;
    font-size: 0.85714285714em;
    line-height: 1em;
    margin-bottom: $spacing-2;
    cursor: pointer;

    abbr {
      border-bottom: none;
      display: none;
    }
  }

  &:disabled {
    background: red;
  }

  &.required {
    label {
      &:after {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f069";
        font-size: 0.5em;
        color: $iugu-neutral-gray-3;
        line-height: 1em;
        padding-left: 0.25em;
        padding-bottom: 0.80em;
        vertical-align: middle;
      }
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="date"],
  textarea,
  select {
    /* Here's the code we need */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    padding: $spacing-3 + 2;
    border-radius: 2px;
    background: $iugu-neutral-light-5;
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.20), inset -1px -1px 0px rgba(0, 0, 0, 0.05);

    &.required {
      background: $iugu-neutral-light-4;
    }

    width: 100%;
  }


  &.select:after {
    font-family: FontAwesome;
    content: '\f0dc';
    font-size: 1em;
    position: absolute;
    top: 2em;
    right: 1em;
    color: $iugu-neutral-gray-3;
    pointer-events: none;
  }

  select::-ms-expand {
    display: none;
  }

  // Disable margin on inputs followed by label
  input + label {
    margin-bottom: 0px;
  }

  /* Hide custom input controls */
  input[type="checkbox"],
  input[type="radio"] {
    opacity: 0;
    position: absolute;

    &+ label {
      padding-left: 2em;
    }

    &+ label:before {
      position: absolute;
      left: 0px;
      top: 0px;
      content: '';
      background: $iugu-neutral-white;
      border: 0px solid $iugu-neutral-light-3;
      display: inline-block;
      width: 1.66666666667em;
      height: 1.66666666667em;
      line-height: 1.5em;
      padding: 2px;
      text-align: center;
      border-radius: 2px;
      box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.20), inset -1px -1px 0px rgba(0, 0, 0, 0.05);
    }
  }
}

input:disabled {
  background: $iugu-neutral-light-2 !important;
  opacity: .8;
  color: $iugu-neutral-light-1;
  cursor: not-allowed;
}

.field_with_errors input {
  border: 2px solid $iugu-red;
  box-shadow: inset 1px 1px 0px rgba(255, 0, 0, 0.20), inset -1px -1px 0px rgba(255, 0, 0, 0.05) !important;
  outline-color: $iugu-red;
}

span.error {
  color: $iugu-red;
  line-height: 2em;
}

span.hint {
  color: $iugu-neutral-gray-2;
  line-height: 2em;
}

span.checkbox {
  font-size: 14px;
  input[type="checkbox"] {
    opacity: 0;
  }
  label {
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: 26px;
    line-height: 25px;
    margin-bottom: -8px;
    color: $iugu-neutral-gray-1;
  }
  label::before,
  label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }
  label::before {
    height: 16px;
    width: 16px;
    border: 1px solid $iugu-neutral-gray-2;
    border-radius: 2px;
    left: 0px;
    top: 3px;
  }
  label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-color: $iugu-neutral-white;
    transform: rotate(-45deg);
    left: 4px;
    top: 8px;
  }
  input[type=checkbox]:checked + label::before {
    background: $iugu-base;
    border-color: $iugu-base-dark;
  }
  input[type=checkbox]:hover + label::before {
    background: $iugu-neutral-light-5;
    border-color: $iugu-base-dark;
  }
  input[type=checkbox]:checked:hover + label::before {
    background: $iugu-base;
    border-color: $iugu-base-dark;
  }
  input[type="checkbox"] + label::after {
    content: none;
  }
  input[type="checkbox"]:checked + label::after {
    content: "";
  }

  &.danger {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=checkbox]:checked + label::before {
      background: $iugu-red;
      border-color: $iugu-red-darker;
    }
    input[type=checkbox]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-red-darker;
    }
    input[type=checkbox]:checked:hover + label::before {
      background: $iugu-red;
      border-color: $iugu-red-darker;
    }
  }

  &.safety {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=checkbox]:checked + label::before {
      background: $iugu-green;
      border-color: $iugu-green-darker;
    }
    input[type=checkbox]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-green-darker;
    }
    input[type=checkbox]:checked:hover + label::before {
      background: $iugu-green;
      border-color: $iugu-green-darker;
    }
  }

  &.warning {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=checkbox]:checked + label::before {
      background: $iugu-orange;
      border-color: $iugu-orange-darker;
    }
    input[type=checkbox]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-orange-darker;
    }
    input[type=checkbox]:checked:hover + label::before {
      background: $iugu-orange;
      border-color: $iugu-orange-darker;
    }
  }

  &.generic {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=checkbox]:checked + label::before {
      background: $iugu-neutral-gray-2;
      border-color: $iugu-neutral-gray-1;
    }
    input[type=checkbox]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-neutral-gray-1;
    }
    input[type=checkbox]:checked:hover + label::before {
      background: $iugu-neutral-gray-2;
      border-color: $iugu-neutral-gray-1;
    }
  }
}

span.radio {
  font-size: 14px;
  input[type="radio"] {
    opacity: 0;
  }
  label {
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: 26px;
    line-height: 25px;
    margin-bottom: -8px;
    color: $iugu-neutral-gray-1;
  }
  label::before,
  label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }
  label::before {
    height: 16px;
    width: 16px;
    border: 1px solid $iugu-neutral-gray-2;
    border-radius: 100%;
    left: 0px;
    top: 3px;
  }
  label::after {
    height: 6px;
    width: 6px;
    background: $iugu-neutral-white;
    border-radius: 100%;
    opacity: .95;
    left: 5px;
    top: 8px;
  }
  input[type=radio]:checked + label::before {
    background: $iugu-base;
    border-color: $iugu-base-dark;
  }
  input[type=radio]:hover + label::before {
    background: $iugu-neutral-light-5;
    border-color: $iugu-base-dark;
  }
  input[type=radio]:checked:hover + label::before {
    background: $iugu-base;
    border-color: $iugu-base-dark;
  }
  input[type="radio"] + label::after {
    content: none;
  }
  input[type="radio"]:checked + label::after {
    content: "";
  }

  &.danger {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=radio]:checked + label::before {
      background: $iugu-red;
      border-color: $iugu-red-darker;
    }
    input[type=radio]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-red-darker;
    }
    input[type=radio]:checked:hover + label::before {
      background: $iugu-red;
      border-color: $iugu-red-darker;
    }
  }

  &.safety {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=radio]:checked + label::before {
      background: $iugu-green;
      border-color: $iugu-green-darker;
    }
    input[type=radio]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-green-darker;
    }
    input[type=radio]:checked:hover + label::before {
      background: $iugu-green;
      border-color: $iugu-green-darker;
    }
  }

  &.warning {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=radio]:checked + label::before {
      background: $iugu-orange;
      border-color: $iugu-orange-darker;
    }
    input[type=radio]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-orange-darker;
    }
    input[type=radio]:checked:hover + label::before {
      background: $iugu-orange;
      border-color: $iugu-orange-darker;
    }
  }

  &.generic {
    label::after {
      border-color: $iugu-neutral-white;
    }
    input[type=radio]:checked + label::before {
      background: $iugu-neutral-gray-2;
      border-color: $iugu-neutral-gray-1;
    }
    input[type=radio]:hover + label::before {
      background: $iugu-neutral-light-5;
      border-color: $iugu-neutral-gray-1;
    }
    input[type=radio]:checked:hover + label::before {
      background: $iugu-neutral-gray-2;
      border-color: $iugu-neutral-gray-1;
    }
  }
}

