// Variables
@import "variables";
@import "colors";

// Typography
@import "typography/icons";
@import "typography/base";

@import "helpers/align";
@import "helpers/spacing";
@import "helpers/border";
@import "helpers/sanitize";

@import "forms/forms";

#msg-filter-container {
  display: none;
  position: absolute;
  top: 67px;
  right: 12px;
  overflow: auto;
  z-index: 9;
}

#msg-filter-container input[type="checkbox"] {
  opacity: 1 !important;
}

#msg-filter-container input[type="checkbox"] + label:before {
  display: none;
}

td span {
  display: block;
}

abbr[title] {
  cursor: help;
}

td span.caption {
  display: none;
}