@import "./sizing";
@import "./colors";

body {
  font-family: "museo-sans", 'Museo Sans';
  font-weight: 300;
  font-size: $base_size;
  color: $text_base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0px;
  padding: 0px;
  font-size: em(20px);
  line-height: 1em;
  font-weight: 500;
  margin-bottom: $spacing;
  color: $text_base;
  font-family: "museo-sans", 'Museo Sans';
  font-weight: 300;
  font-size: $base_size;
  color: $text_base;
  border: none;
  &.big {
    font-size: em(40px);
  }
}

p {
  margin: 0px;
  margin-bottom: $spacing;
  font-size: em(16px);
  &.small {
    font-size: em(12px);
  }
}

h1 {
  font-size: em(30px);
  font-weight: 500;
  &.big {
    font-size: em(60px);
  }
}

h2 {
  font-size: em(24px);
  &.big {
    font-size: em(48px);
  }
}

.subtitle {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: em(16px);
  font-weight: 700;
  margin-bottom: $spacing;
  text-transform: uppercase;
  &.alternate {
    text-transform: none;
    font-weight: 300;
  }
  &.divider {
    border-bottom: 1px solid $decoration_lighter;
    padding-bottom: $spacing;
  }
}