$text-color: #657373;
$text-color-lighter: lighten($text-color,25);
$text-color-darken: darken($text-color,25);
$disabled-text-color: lighten($text-color,45);
$padding: 40px;
$app-bg: #F6F8FA;
$content-bg: #FFF;
$header-bg: #F3F3F3;
$default-bottom-space: 5px;
$default-top-space: 5px;
$input-background: #F9F9F9;
$input-color: #00aace;
$input-color-lighter: lighten($input-color,10);
$input-color-darken: darken($input-color,10);
$border-color: #E5E5E5;
$default-rounder-corner: 8px;
$icon-color: #94A7A7;
$white-color: #FFFFFF;

$green-color: #75bd59;
$secondary-green-color: #B4C435;
$purple-color: #6e4193;
$grey-color: #3f5264;
$blue-color: #225ba0;
$red-color: #ea5343;
$secondary-red-color: #f32013;
$dark-color: #182028;
$yellow-color: #F0CC22;
$brown-color: #7A5647;
$orange-color: #F89621;

$online-chat: #60b146;
$offline-chat: #f15922;

$menu-item: #96a8a8;
$menu-hover: #c1cccc;
$menu-active: #00aace;
$menu-disabled: #2d3636;

$iugu-base: #00AACE;
$iugu-base-light: #4DC4DD;
$iugu-base-dark: #007790;

$iugu-coral:	#F37873;
$iugu-coral-lighter: lighten($iugu-coral, 25%);
$iugu-coral-darker: darken($iugu-coral, 25%);

$iugu-flame:	#F15A22;
$iugu-flame-lighter: lighten($iugu-flame, 25%);
$iugu-flame-darker: darken($iugu-flame, 25%);

$iugu-red:	#DE4330;
$iugu-red-lighter: lighten($iugu-red, 25%);
$iugu-red-darker: darken($iugu-red, 25%);

$iugu-ruby:	#A81F4B;
$iugu-ruby-lighter: lighten($iugu-ruby, 25%);
$iugu-ruby-darker: darken($iugu-ruby, 25%);

$iugu-violet:	#C9327E;
$iugu-violet-lighter: lighten($iugu-violet, 25%);
$iugu-violet-darker: darken($iugu-violet, 25%);

$iugu-purple:	#7E3594;
$iugu-purple-lighter: lighten($iugu-purple, 25%);
$iugu-purple-darker: darken($iugu-purple, 25%);

$iugu-steel-blue:	#4882C3;
$iugu-steel-blue-lighter: lighten($iugu-steel-blue, 25%);
$iugu-steel-blue-darker: darken($iugu-steel-blue, 25%);

$iugu-royal-blue:	#3D5BA9;
$iugu-royal-blue-lighter: lighten($iugu-royal-blue, 25%);
$iugu-royal-blue-darker: darken($iugu-royal-blue, 25%);

$iugu-deep-sky-blue:	#01AACE;
$iugu-deep-sky-blue-lighter: lighten($iugu-deep-sky-blue, 25%);
$iugu-deep-sky-blue-darker: darken($iugu-deep-sky-blue, 25%);

$iugu-turquoise:	#68C8C6;
$iugu-turquoise-lighter: lighten($iugu-turquoise, 25%);
$iugu-turquoise-darker: darken($iugu-turquoise, 25%);

$iugu-vivid-green:	#C7DA35;
$iugu-vivid-green-lighter: lighten($iugu-vivid-green, 25%);
$iugu-vivid-green-darker: darken($iugu-vivid-green, 25%);

$iugu-green:	#60B146;
$iugu-green-lighter: lighten($iugu-green, 25%);
$iugu-green-darker: darken($iugu-green, 25%);

$iugu-forest-green:	#009E56;
$iugu-forest-green-lighter: lighten($iugu-forest-green, 25%);
$iugu-forest-green-darker: darken($iugu-forest-green, 25%);

$iugu-yellow:	#F5EB1B;
$iugu-yellow-lighter: lighten($iugu-yellow, 25%);
$iugu-yellow-darker: darken($iugu-yellow, 25%);

$iugu-orange:	#F89621;
$iugu-orange-lighter: lighten($iugu-orange, 25%);
$iugu-orange-darker: darken($iugu-orange, 25%);

$iugu-brown:	#7A5647;
$iugu-brown-lighter: lighten($iugu-brown, 25%);
$iugu-brown-darker: darken($iugu-brown, 25%);
	
$iugu-neutral-light-1:	#989898;
$iugu-neutral-light-2:	#B3B3B3;
$iugu-neutral-light-3:	#CBCBCA;
$iugu-neutral-light-4:	#E5E5E5;
$iugu-neutral-light-5:	#F3F3F3;
$iugu-neutral-light-6:	#F9F9F9;
	
$iugu-neutral-dark-1:	#1A1A1B;
$iugu-neutral-dark-2:	#343734;
$iugu-neutral-dark-3:	#4E4E4E;
$iugu-neutral-dark-4:	#676767;
$iugu-neutral-dark-5:	#7F7F80;
	
$iugu-neutral-gray-1:	#2C3636;
$iugu-neutral-gray-2:	#555F5F;
$iugu-neutral-gray-3:	#96A8A8;
$iugu-neutral-gray-4:	#C0CCCD;
$iugu-neutral-gray-5:	#D6DEDE;
	
$iugu-neutral-black: #000;
$iugu-neutral-white: #FFF;

.bg-white {
  background: $iugu-neutral-white; 
}