@import "../core/index";

div[role=alert] {
  font-family: "museo-sans", Arial,Verdana;
  font-weight: 300;
  border: 1px solid $input-color;
  background: $content-bg;
  color: $input-color;
  display: block;
  padding: $spacing-3;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: $spacing-5;

  &.generic {
    border-color: $iugu-base;
    color: $iugu-base;
    strong {
      color: $iugu-base;
    }
  }

  &.info {
    border-color: $iugu-royal-blue;
    color: $iugu-royal-blue;
    strong {
      color: $iugu-royal-blue;
    }
  }

  &.help {
    border-color:$iugu-neutral-gray-2;
    color: $iugu-neutral-gray-2;
    strong {
      color: $iugu-neutral-gray-2;
    }
  }

  &.danger {
    border-color: $iugu-red;
    background-color: $iugu-red;
    color: $iugu-neutral-white;
    strong {
      color: $iugu-neutral-white;
    }
  }

  &.success {
    border-color: $iugu-green;
    background-color: $iugu-green;
    color: $iugu-neutral-white;
    strong {
      color: $iugu-neutral-white;
    }
  }

  &.warning {
    border-color: $iugu-orange;
    color: $iugu-orange;
    strong {
      color: $iugu-orange;
    }
  }

  strong {
    font-weight: 700;
    display: block;
    margin-bottom: $spacing-3;
  }
}