@import "../core/index";

nav[role="navigation"] {
  display: flex;
  &.vertical {
    flex-direction: column;
    padding-top: 26.66667px;
    span:not([role="badge"]) {
      padding-left: $spacing-5;
      border-left: 5px solid transparent;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1px;
      &.selected,
      &:hover {
        color: $iugu-base;
        border-color: $iugu-base;
        a {
          color: $iugu-base;
        }
      }
    }
    span[role="badge"] {
      margin-right: $spacing-4;
    }
    h6 {
      padding-left: $spacing-6;
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.78571428571em;
      color: $iugu-neutral-gray-3;
    }
  }
  &.horizontal {
    flex-direction: row; 
  }
  a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9em;
    color: $iugu-neutral-dark-2;
    margin: 0 $spacing-1;
  }
}