@import "../core/index";

div[role=panel]{
  box-shadow: 0 0px 6px 0 rgba(45, 62, 80, 0.05);
  border-radius: 5px;
  background: $iugu-neutral-white;

  div[role=panel] {
    box-shadow: none;
    border: 1px solid $iugu-neutral-gray-5;
  }
}

.overlay .div[role=panel] {
  margin: 0px !important;
}