/* Button */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
nav[role="pagination"] a {


/* _Interno - Default */

background: $base;
/* _Interno - Sombra Botões */

box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12),
0px 2px 2px rgba(0, 0, 0, 0.2);
border-radius: 2px;
  border: none;

  color: $neutral_white;
  height: 32px;

  padding: 0 0.8em;

  height: em(32px);
  font-size: em(12px);
  line-height: em(12px);

  font-family: "museo-sans", Arial, Verdana;
  font-weight: 500;

  letter-spacing: 0.5px;

  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &.btn-medium {
    height: em(32px,12px);
    font-size: em(12px);
    line-height: em(12px);
  }

  &.btn-small {
    height: em(24px,11px);
    font-size: em(11px);
    line-height: em(11px);
  }

  &.btn-micro {
    height: em(20px,10px);
    font-size: em(10px);
    line-height: em(10px);
  }

  &.btn-large {
    height: em(48px,14px);
    font-size: em(14px);
    line-height: em(14px);
    padding: 0 1.0em;
  }

  &:hover {
    text-decoration: none;
    color: #FFF;
    background: darken($base, 5);
  }

  &.alternate {

    &:hover {
    }
  }


  &.disabled {
  }

  &:disabled {
  }

  &.danger {

    &:hover {
    }
  }

  &.outline {

    &:hover {
    }
  }

  &.small {
    
  }
}