.panel {
  /* Neutra Branca */
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(45, 62, 80, 0.05);
  border-radius: 5px;
  border: 1px solid $neutral_light_5;
  position: relative;

  &.float {
    &:after {
      content: '';
      position: absolute;
      border: 1px solid $neutral_light_5;
      border-color: #FFF transparent;
      border-width: 0 13px 12px 13px;
      top: -12px;
      left: 45%;
    }
    
    &:before {
      content: '';
      position: absolute;
      border: 1px solid $neutral_light_5;
      border-color: $neutral_light_5 transparent;
      border-width: 0 13px 11px 13px;
      top: -13px;
      left: 45%;
    }
    &.right {
      &:after {
        right: 20px;
        left: auto;
      }
      &:before {
        right: 20px;
        left: auto;
      }
    }
    &.left {
      &:after {
        left: 20px;
      }
    
      &:left {
        right: 20px;
      }
    }
  }

  > div {
    padding: $base_spacing;
  }

  .panel {
    box-shadow: none;
    border-color: $neutral_light_4;
  }

  .header {
    border-bottom: 1px solid $neutral_light_4;

    .hat {
      margin: 0px;
      padding: 0px;
      margin-bottom: ($default_spacing*2);
      text-transform: uppercase;
      font-size: em(12px);
      font-weight: 300;
    }

    h1,h2,h3,h4,h5,h6 {
      font-size: em(22px);
      font-weight: 300;
    }
  }

  .footer {
    border-top: 1px solid $neutral_light_4;
  }
}