body {
  color: $text-color;
  font-family: "museo-sans", Arial,Verdana;
  font-weight: 300;
  font-size: 14px;
}

.tx-h1 {
  font-size: 56px !important;
  font-family: "Museo Sans 900" !important;
  line-height: 64px !important;
  letter-spacing: -0.6px !important;
}

.tx-h2 {
  font-size: 46px !important;
  font-family: "Museo Sans 900" !important;
  line-height: 54px !important;
  letter-spacing: -0.4px !important;
}

.tx-h3 {
  font-size: 38px !important;
  font-family: "Museo Sans 700" !important;
  line-height: 46px !important;
  letter-spacing: -0.2px !important;
}

.tx-h4 {
  font-size: 30px !important;
  font-family: "Museo Sans 700" !important;
  line-height: 38px !important;
  letter-spacing: 0px !important;
}

.tx-h5 {
  font-size: 24px !important;
  font-family: "Museo Sans 500" !important;
  line-height: 32px !important;
  letter-spacing: 0.2px !important;
}

.tx-h6 {
  font-size: 20px !important;
  font-family: "Museo Sans 500" !important;
  line-height: 28px !important;
  letter-spacing: 0.4px !important;
}

.tx-pg {
  font-size: 16px !important;
  font-family: "Museo Sans 300" !important;
  line-height: 24px !important;
  letter-spacing: .6px !important;
}

.tx-sm {
  font-size: 12px !important;
  font-family: "Museo Sans 300" !important;
  line-height: 20px !important;
  letter-spacing: .8px !important;
}

.tx-sh1 {
  font-size: 18px !important;
  font-family: "Museo Sans 500" !important;
  line-height: 26px !important;
  letter-spacing: .4px !important;
}

.tx-sh2 {
  font-size: 16px !important;
  font-family: "Museo Sans 700" !important;
  line-height: 24px !important;
  letter-spacing: 1.4px !important;
  text-transform: uppercase;
}



.tc-iugu-base {
  color: $iugu-base;
}

.tc-iugu-base-dark {
  color: $iugu-base-dark;
}

.tc-iugu-neutral-dark-1 {
  color: $iugu-neutral-dark-1;
}

.tc-iugu-neutral-dark-2 {
  color: $iugu-neutral-dark-2;
}

.tc-iugu-neutral-dark-3 {
  color: $iugu-neutral-dark-3;
}

.tc-iugu-red {
  color: $iugu-red;
}

.tc-iugu-royal-blue {
  color: $iugu-royal-blue;
}

.tc-iugu-forest-green {
  color: $iugu-forest-green;
}
