.border { border: 1px solid $iugu-neutral-light-1; }
.border-top { border-top: 1px solid $iugu-neutral-light-1 }
.border-right { border-right: 1px solid $iugu-neutral-light-1 }
.border-bottom { border-bottom: 1px solid $iugu-neutral-light-1 }
.border-left { border-bottom: 1px solid $iugu-neutral-light-1 }

.border-color-neutral-light-1 { border-color: $iugu-neutral-light-1 }
.border-color-neutral-light-2 { border-color: $iugu-neutral-light-2 }
.border-color-neutral-light-3 { border-color: $iugu-neutral-light-3 }
.border-color-neutral-light-4 { border-color: $iugu-neutral-light-4 }
.border-color-neutral-light-5 { border-color: $iugu-neutral-light-5 }

.border-color-neutral-gray-1 { border-color: $iugu-neutral-gray-1 }
.border-color-neutral-gray-2 { border-color: $iugu-neutral-gray-2 }
.border-color-neutral-gray-3 { border-color: $iugu-neutral-gray-3 }
.border-color-neutral-gray-4 { border-color: $iugu-neutral-gray-4 }
.border-color-neutral-gray-5 { border-color: $iugu-neutral-gray-5 }

.border-color-neutral-dark-1 { border-color: $iugu-neutral-dark-1 }
.border-color-neutral-dark-2 { border-color: $iugu-neutral-dark-2 }
.border-color-neutral-dark-3 { border-color: $iugu-neutral-dark-3 }
.border-color-neutral-dark-4 { border-color: $iugu-neutral-dark-4 }
.border-color-neutral-dark-5 { border-color: $iugu-neutral-dark-5 }

.border-color-default-blue { border-color: $iugu-royal-blue }
.border-color-danger { border-color: $iugu-red }
.border-color-success { border-color: $iugu-green }
.border-color-warning { border-color: $iugu-orange }
.border-color-information { border-color: $iugu-base }