#stories {
  margin-top: 40px;
  font-size: 30px;
}

h1 {
  &.sbdocs-title {
    font-weight: 300;
  }
}

h1,h2,h3,h4,h5,h6,h3 {
  &.sbdocs {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
  }
}

#docs-root {
  p.sbdocs-p {
    font-size: 16px;
  }
}

h3.sbdocs-h3 {
  margin-top: 20px;
}

.sbdocs,.docs-story {
  margin-bottom: 20px !important;
}

.sbdocs >div {
  margin-bottom: 20px !important;
}